page-orders {
    
    .text-center{
        text-align: center;
    }

    .text2-center{
        text-align: center;
        font-Weight: Bold;
        font-size: 50px;
        color: rgb(255, 166, 0)
    }

    .footer-image{
        height:100%;
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .middle-image{
        height:100%;
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
